/* Global
******************************/
body {
    color: #343434;
    margin:0;
    padding:0;
}

img {
    width: 300px;
}

header {
    background-color: #C3BF6D;
    color: #E55934;
}

.content-structure {
    width: 1100px;
    margin: 0 auto;
}

.header-footer-structure {
    width: 1300px;
    margin: 0 auto;
}

/* Navigation Bar
******************************/
.navbar {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar  li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: inline;
}
.navbar {
    background-color: rgb(56, 197, 110);
}
.navbar a {
    color:white;
}
.navbar a:hover {
    color: rgb(56, 197, 110);
}
.navbar li:hover {
    background-color:pink;
}

/* Footer
******************************/
footer {
    background-color: #33673B;
}

/* About
******************************/
.about-me a {
    background-color: #E55934 ;
    color: white;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
}
.about-me a:hover {
    background-color: rgba(204, 63, 12, 70%);
}

/* Education
******************************/
.education {

}

/* Experience and Skills
******************************/
.it-skills {
    background-color: #CE8D66;
}

.personal-skills {
    background-color: cornflowerblue;
}

.work-history {
    background-color: #D9594C;
}


/* Index
******************************/
.index {
    
}