/* Global
******************************/
body {
    color: #343434;
}

img {
    width: 300px;
}

header {
    background-color: #C3BF6D;
    color:#E55934;
}

/* Navigation Bar
******************************/
.navbar {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar  li {
    display: inline;
}
.navbar {
    background-color: rgb(56, 197, 110);
}

/* Footer
******************************/
footer {
    background-color: #33673B;
}

/* About
******************************/
.about-me .btn {
    background-color: #E55934 ;
    color: white;
    padding: 4px;
    border-radius: 5px;
    text-decoration: none;
}
.about-me .btn:hover {
    background-color: rgba(204, 63, 12, 70%);
}


/* Education
******************************/


/* Experience and Skills
******************************/
.skills {
    background-color: #CE8D66;
}

.work-history {
    background-color: #D9594C;
}


/* Index
******************************/
