/* Global
******************************/
body {
    color: #343434;
    margin:0;
    padding:0;
}

img {
    width: 300px;
}

header .content-structure {
    background-color: #C3BF6D;
    color: #E55934;
}

.content-structure {
    width: 1100px;
    margin: 0 auto;
}

.header-footer-structure {
    width: 1300px;
    margin: 0 auto;
}

footer {
    background-color: #33673B;
}

/* footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center; 
} */

/* Browser Interactions
******************************/
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar{
    display: none; /* Chrome, Safari and Opera */
}

/* Navigation Bar
******************************/
nav {
    background-color: rgb(56, 197, 110);
}

.navbar {
    margin-top: 0;

    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar  li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: inline;
}
.navbar {
    background-color: rgb(56, 197, 110);
}
.navbar a {
    color:white;
}
.navbar a:hover {
    color: rgb(56, 197, 110);
}
.navbar li:hover {
    background-color:pink;
}

/* Footer
******************************/

/* About
******************************/
.about-me a {
    background-color: #E55934 ;
    color: white;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
}
.about-me a:hover {
    background-color: rgba(204, 63, 12, 70%);
}

/* Education
******************************/
.education {

}

/* Experience and Skills
******************************/
.it-skills .content-structure {
    background-color: #CE8D66;
}

.personal-skills .content-structure {
    background-color: cornflowerblue;
}

.work-history .content-structure {
    background-color: #D9594C;
}


/* Index
******************************/
.index {

}