@font-face {
    font-family: "Freckle Face";
    src: url(fonts/Freckle_Face/FreckleFace-Regular.ttf); /*Relative path*/
}
/* Global
******************************/
body {
    color: #343434;
    margin:0;
    padding:0;
    background-color: coral;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.25;
}

img {
    width: 300px;
}

header {
    font-family: 'Freckle Face', sans-serif;
    text-align: center;

}

header h1 {
    margin-top:0;
}

header .flex-item {
    background-color: #C3BF6D;
    color: #E55934;
}

.content-structure {
    width: 1100px;
    margin: 0 auto;
}


footer {
    background-color: #33673B;
    color:white;
}

/* Browser Interactions
******************************/
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar{
    display: none; /* Chrome, Safari and Opera */
}

/* Navigation Bar
******************************/
nav {
    background-color: rgb(56, 197, 110);

}

.navbar {
    background-color: rgb(56, 197, 110);
}
.navbar {
    margin-top: 0;

    position:relative;

    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.navbar  li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
}

.navbar a {
    color:white;
}
.navbar a:hover {
    color: rgb(56, 197, 110);
}
.navbar li:hover {
    background-color: pink;
}

.navbar .profile-picture {
    position: absolute;
    left: -100px;
    top: 10px;
    border:solid white 3px;
    border-radius: 5px;
}

/* Footer
******************************/

/* About
******************************/
.about-me a {
    background-color: #E55934 ;
    color: white;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
}
.about-me a:hover {
    background-color: rgba(204, 63, 12, 70%);
}


.profile-picture {
    width:50px;
}

/* Education
******************************/
.education {

}

/* Experience and Skills
******************************/
.it-skills {
    background-color: #CE8D66;
}

.personal-skills {
    background-color: cornflowerblue;
}

.work-history {
    background-color: #D9594C;
}


/* Index
******************************/
.index {

}

/* Flexbox 
******************************/
.wrapper {
    margin:0 auto;
    min-width: 320px;
    max-width: 1100px;
    background-color:chartreuse;
}

.flex-container {
    display: flex;
    margin: 5px;
    border:solid blue 2px;
}

.flex-item {
    flex:1 1 auto;
}

.flex-item-nav {
    margin:0 auto;
    min-width: 320px;
    max-width: 1100px;
}

.flex-item-footer {
    margin:0 auto;
    min-width: 320px;
    max-width: 1100px;
}